version: '3'
services:
  mysql:
    image: "mysql/mysql-server:latest"
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
    restart: always
    command: --init-file /data/application/init.sql
    volumes:
        - ./db/init.sql:/data/application/init.sql
    ports:
      - "3306:3306"
