version: '3'
services:
  mysql:
    image: "mysql/mysql-server:latest"
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
    restart: always
    command: --init-file /data/application/schema.sql
    volumes:
        - ./db/:/data/application/
    ports:
      - "3306:3306"
